<form class="layui-form  layui-form-pane" onsubmit="return false" method="post" action="{:url('admin/save')}">
  <div class="layui-form-item" >
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="admin_name"   lay-verify="required|checkName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" name="admin_pwd"  lay-verify="required|checkPwd" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    </div>
  <div class="layui-form-item" >
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-block">
      <input type="password" name="admin_repwd"   lay-verify="requiire|checkRepwd" placeholder="请确认密码" autocomplete="off" class="layui-input">
    </div>
  </div>
     <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <input type="checkbox" name="admin_status"   value="开启" lay-verify="" lay-skin="switch" lay-text="开启|关闭">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">电话</label>
    <div class="layui-input-block">
      <input type="text" name="admin_tel"   lay-verify="required|phone" placeholder="请输入电话" autocomplete="off" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">邮箱</label>
    <div class="layui-input-block">
      <input type="text" name="admin_email"   lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="go">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
<script type="text/javascript">
//加载layipt内置模块
layui.use(['form','jquery','layer'],function(){
  var form=layui.form;
  var $ = layui.jquery;
  var layer=layui.layer;
 
 form.on('submit(go)',function(data){
    // console.log(data);
    // 发送ajax请求，做添加
    $.post(
      "{:url('admin/save')}",
      data.field,
      function(data){
        layer.msg(data.content,{icon:data.icon,time:2000},function(){
          if(data.code==1){
            // console.log(123);
            location.href="{:url('admin/index')}";
          };
        });
      },
      'json'
    );
    return false;//阻止表单提交
  });

  form.verify({
    checkName:function(value){
      //验证正则
      var reg=/^[\u4e00-\u9fa5]{2,5}$/;
      if(!reg.test(value)){
        return "用户名必须是2~5位中文字符";
      };

      var text;
      //ajax验证名字唯一性
      $.ajax({
        url:"{:url('admin/checkName')}",
        method:'post',
        async:false,
        data:{admin_name:value},
        success:function(data){
          if(data>0){
            text='用户名以存在';
          };
        },
        dataType:'json'
      });
        return text;
    },
      //验证密码
  checkPwd:function(value){
    var pwd=/^\w{3,}$/;
    if(!pwd.test(value)){
      return "密码必须为3位以上并且以数字字母下划线组成";
    };
  },  
  checkRepwd:function(value){
    var pass=$('[name=admin_pwd]').val();
    if(value!=pass){
      return "两次输入输入的密码不一致";
    };
  }

});

});



</script>

