<form class="layui-form  layui-form-pane" method="post" action="{:url('admin/update')}">
  <input type="hidden" name="admin_id" id="admin_id" value="{$data.admin_id}" >
  <div class="layui-form-item" >
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="admin_name" value="{$data.admin_name}"  lay-verify="required|checkName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
    </div>
  </div>
     <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <input type="checkbox" name="admin_status"   value="开启" lay-verify="" lay-skin="switch" lay-text="开启|关闭" {if $data.admin_status=="开启"}checked{/if}>
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">电话</label>
    <div class="layui-input-block">
      <input type="text" name="admin_tel" value="{$data.admin_tel}"  lay-verify="required|phone" placeholder="请输入电话" autocomplete="off" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">邮箱</label>
    <div class="layui-input-block">
      <input type="text" name="admin_email" value="{$data.admin_email}"  lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="go">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
<script type="text/javascript">
//加载layipt内置模块
layui.use(['form','jquery','layer'],function(){
  var form=layui.form;
  var $ = layui.jquery;
  var layer=layui.layer;
 
 form.on('submit(go)',function(data){
    // console.log(data);
    // 发送ajax请求，做添加
    $.post(
      "{:url('admin/update')}",
      data.field,
      function(data){
        layer.msg(data.content,{icon:data.icon,time:2000},function(){
          if(data.code==1){
            console.log(123);
            location.href="{:url('admin/index')}";
          };
        });
      },
      'json'
    );
    return false;//阻止表单提交
  });

  form.verify({
    checkName:function(value){
      //验证正则
      var reg=/^[\u4e00-\u9fa5]{2,5}$/;
      if(!reg.test(value)){
        return "用户名必须是2~5位中文字符";
      };

      var text;
      //ajax验证名字唯一性
      $.ajax({
        url:"{:url('admin/checkName')}",
        method:'post',
        async:false,
        data:{admin_name:value,admin_id:$('#admin_id').val()},
        success:function(data){
          if(data>0){
            text='用户名以存在';
          };
        },
        dataType:'json'
      });
        return text;
    },

});

});



</script>

