 <div cate_id="{$floorInfo.topInfo.cate_id}"> 
    <div class="i_t mar_10">
        <span class="floor_num">{$floor_num}F</span>
        <span class="fl">{$floorInfo.topInfo.cate_name}</span>                
        <span class="i_mores fr">
            {volist name="$floorInfo['secondInfo']" id='v'}
            <a href="#"></a>{$v.cate_name}</span>
            {/volist}
    </div> 
    <div class="content">

        <div class="fresh_mid">
            <ul>
                {volist name="$floorInfo['goodsInfo']" id='v'}
                <li>
                    <div class="name"><a href="{:url('Goods/goodsDetail')}?goods_id={$v.goods_id}">{$v.goods_name}</a></div>
                    <div class="price">
                        <font>￥<span>{$v.goods_price}</span></font> &nbsp; {$v.goods_score}
                    </div>
                    <div class="img"><a href="{:url('Goods/goodsDetail')}?goods_id={$v.goods_id}"><img src="{$v.goods_img}" width="185" height="155" /></a></div>
                </li>
                {/volist}
                                                                                
            </ul>
        </div>

    </div>   
   </div>