<form class="layui-form" >
  <div class="layui-form-item">
    <div class="layui-input-inline">
      <select name="brand_id" id="">
        <option value="">根据性别搜索</option>
        {volist name="sex" id="s"}
        <option value="{$s.yg_sex}">{$s.yg_sex}</option>
        {/volist}
      </select>
    </div>
      <div class="layui-input-inline">
        <button class="layui-btn">搜索</button>
    </div>
  </div>
</form>
<script src="https://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>编号</th>
      <th>员工账号</th>
      <th>所属部门</th>
      <th>出生日期</th>
      <th>学历</th>
      <th>性别</th>
      <th>姓名</th>
    </tr> 
  </thead>
  <tbody>
    {volist name="data" id="vo"}
    <tr>
      <td>{$i}</td>
      <td class="asd">{$vo.yg_zhanghao}</td>
      <td>{$vo.bm_name}</td>
      <td>{$vo.yg_csrq}</td>
      <td>{$vo.yg_xl}</td>
      <td>{$vo.yg_sex}</td>
      <td>{$vo.yg_name}</td>
    </tr>
    {/volist}
  </tbody>
</table>
{$limt|raw}
<script>
 layui.use(['jquery'],function(){
  var $=layui.jquery;
 $('.asd').on('click', function() {
     var txt = $(this).text();
     $(this).text('');
     $(this).append('<input type="text">');
     $(this).children('input').focus();
     $(this).unbind('clcik');
     var child = $(this).children('input');
     var that = $(this);
     child.blur(function() {
         var childTxt = child.val();
         if (childTxt == '') {
             that.text(txt);
         } else {
             that.text(childTxt);
         }
         that.remove('input');
     })
 })
 })
</script>
