<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
{include file='public/user_top' /}
<!--End Header End--> 
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
  <div class="m_content">
      {include file='public/user_left' /}
    <div class="m_right">
            <p></p>
            <div class="mem_tit">收货地址</div>

      {/*列表*/} 
      {volist name="addressInfo" id="v"}  
      <div class="address" address_id="{$v.address_id}" {if condition="$v['is_default'] eq 1"} style="border:1px solid red;" {/if}>  
              <div class="a_close"><a href="#"><img src="__STATIC__/index/images/a_close.png"  class="del" /></a></div>
              <table border="0" class="add_t" align="center" style="width:98%; margin:10px auto;" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="right" width="80">收货人姓名：</td>
                    <td>{$v.address_name}</td>
                  </tr>
                  <tr>
                    <td align="right">配送区域：</td>
                    <td>{$v.province}{$v.city}{$v.area}</td>
                  </tr>
                  <tr>
                    <td align="right">详细地址：</td>
                    <td>{$v.address_detail}</td>
                  </tr>
                  <tr>
                    <td align="right">手机：</td>
                    <td>{$v.address_tel}</td>
                  </tr>
                    <td align="right">邮编：</td>
                    <td>{$v.address_mail}</td>
                  </tr>
                </table>
                <p align="right">
                  {if condition="$v['is_default'] eq 1"}
                   <a href="javascript:;" class="edit" style="color:#ff4e00;">编辑</a>&nbsp; &nbsp; &nbsp; &nbsp;
                   {else/}
                    <a href="javascript:;" style="color:#ff4e00;" class="moren" >设为默认</a>&nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="javascript:;" class="edit" style="color:#ff4e00;">编辑</a>&nbsp; &nbsp; &nbsp; &nbsp; 
                  {/if}
                </p>
      </div> 
      {/volist}

            <div class="mem_tit">
              <a href="#"><img src="__STATIC__/index/images/add_ad.gif" /></a>
            </div>



            {/*添加*/}
            <table border="0" class="add_tab" style="width:930px;"  cellspacing="0" cellpadding="0">
              <tr>
                <td width="135" align="right">配送地区</td>
                <td colspan="3" style="font-family:'宋体';">
                  <select class="area" id="province">
                      <option value="0" selected="selected">请选择...</option>
                      {volist name="provinceInfo" id="vo"}
                      <option value="{$vo.id}">{$vo.name}</option>
                      {/volist}
                    </select>

                    <select class="area" id="city">
                      <option value="0" selected="selected">请选择...</option>
                    </select>

                    <select class="area" id="areaa">
                      <option value="0" selected="selected">请选择...</option>
                    </select>
                    （必填）
                </td>
              </tr>
              <tr>
                <td align="right">收货人姓名</td>
                <td style="font-family:'宋体';"><input type="text" id="address_name" class="add_ipt" />（必填）</td>
                <td align="right">电话</td>
                <td style="font-family:'宋体';"><input type="text" id="address_tel" class="add_ipt" />（必填）</td>
              </tr>
              <tr>
                <td align="right">详细地址</td>
                <td style="font-family:'宋体';"><input type="text" id="address_detail" class="add_ipt" />（必填）</td>
                <td align="right">邮政编码</td>
                <td style="font-family:'宋体';"><input type="text" id="address_mail" class="add_ipt" /></td>
              </tr>
                <tr>
                  <td colspan="4">
                    <input type="checkbox" id="is_default">是否设置为默认收货地址
                  </td>
                </tr>
            </table>
            <p align="right">
              <a href="#" class="add_b">添加</a>
            </p> 
           

            
        </div>
    </div>
  <!--End 用户中心 End--> 
<script type="text/javascript">
  $(function(){
    layui.use(['layer'],function(){
      var layer=layui.layer;

    //改变事件
    $('.area').change(function(){
      var _this=$(this);
      _this.nextAll('select').html("<option>请选择...</option>");
      var id=_this.val();
      // console.log(id); 
      $.post(
          "{:url('address/getArea')}",
          {id:id},
          function(res){
            // console.log(res);
            var _option="<option>请选择...</option>";
            for(var i=0;i<res.length;i++){
              _option+="<option value='"+res[i]['id']+"'>"+res[i]['name']+"</option>";
            }
            _this.next("select").html(_option);
          },
          'json'
        )

    });

    //点击添加
    $('.add_b').click(function(){
      var data={};
      data.province=$('#province').val();
      data.city=$('#city').val();
      data.area=$('#areaa').val();
      data.address_name=$('#address_name').val();
      data.address_tel=$('#address_tel').val();
      data.address_detail=$('#address_detail').val();
      data.address_mail=$('#address_mail').val();
      var is_default=$('#is_default').prop('checked');
      if(is_default==true){
          data.is_default=1;
      }else{
          data.is_default=2;
      }
      
      $.post(
          "{:url('address/addressDoadd')}",
          data,
          function(res){
            layer.msg(res.font,{icon:res.code});
            location.href="{:url('address/addressAdd')}";
          },
          'json'
        )
      });


    //点击编辑
    $('.edit').click(function(){
      var _this=$(this);
      var address_id=_this.parents("div[class='address']").attr('address_id');
      location.href="{:url('Address/addressEdit')}?address_id="+address_id;
    });

    //点击X号删除
    $('.del').click(function(){
      var address_id=$(this).parents("div[class='address']").attr('address_id');
      console.log(address_id);
      $.post(
            "{:url('address/addressDel')}",
            {address_id,address_id},
            function(res){
              layer.msg(res.font,{icon:res.code});
              location.href="{:url('address/addressAdd')}";
            },
            'json'
        )
    });

    //点击设为默认
    $('.moren').click(function(){
      var address_id=$(this).parents("div[class='address']").attr('address_id');
      // console.log(address_id);
      $.post(
            "{:url('address/addressMoren')}",
            {address_id,address_id},
            function(res){
              console.log(res);
              layer.msg(res.font,{icon:res.code,time:2000},function(){
                 location.href="{:url('address/addressAdd')}";
              });
            },
            'json'  
        )
    });

  });
  });
</script>

